
  
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/rooms" routerLinkActive="active" class="nav-link">Rooms List</a>
    </li>
    <li class="nav-item">
      <a routerLink="/create-room" routerLinkActive="active" class="nav-link">Create Room</a>
    </li>
    <li class="nav-item">
      <a routerLink="/available-room" routerLinkActive="active" class="nav-link">Available Room</a>
    </li>

    <li class="nav-item">
      <a routerLink="/users" routerLinkActive="active" class="nav-link">Users</a>
    </li>
    <li class="nav-item">
      <a routerLink="/reservations" routerLinkActive="active" class="nav-link">Reservations</a>
    </li>
    <li class="nav-item">
      <a routerLink="/create-reservation" routerLinkActive="active" class="nav-link">Make Reservations</a>
    </li>

  </ul>
</nav>


<div class="container">
<router-outlet></router-outlet>

</div>

<footer class="footer">
    <div class="container">
      <span>Hotel Management</span>
    </div>
  </footer>
  