<div class="container">
    <h2 class="mt-4">Create Room</h2>
    <form class="mt-4" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="roomNumber">Room Number</label>
        <input type="text" class="form-control" id="roomNumber" [(ngModel)]="room.roomNumber" name="roomNumber">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" [(ngModel)]="room.price" name="price">
      </div>
      <div class="form-group">
        <label for="available">Availability</label>
        <input type="text" class="form-control" id="available" [(ngModel)]="room.available" name="available">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  