<h2>Available Rooms</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Room Number</th>
      <th>Price</th>
      <th>Type</th>
      <th>Available</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of availableRooms">
      <td>{{ room.id }}</td>
      <td>{{ room.roomNumber }}</td>
      <td>{{ room.price }}</td>
      <td>{{ room.roomType }}</td>
      <td>{{ room.available }}</td>
      <td>
        <button class="btn btn-primary" (click)="makeReservation(room.id)">Reserver Maintenant</button>
      </td>
    </tr>
  </tbody>
</table>
